haruka/config.py
*.pyc
.idea/
logfile
backups/
.project
.pydevproject
.directory
.vscode
sticker.png
mocked*.jpg
kimed*.jpg
hitlered*.jpg
4pdaed*.jpg
mafiaed*.jpg
kangsticker
kangsticker.png
okgoogle.png
log.err
log.log
*.backup
